---
interface Props {
  side: 'left' | 'right'
}

const { side } = Astro.props as Props

const rotate = side === 'left' ? 'rotate-180' : ''
---

<div id="page2" class="w-full">
  <div class="move bg-green-500 flex gap-10">
    <div class={`${side} flex items-center gap-5 py-2`}>
      <h1 class="uppercase text-7xl">merch</h1>
      <img
        src="https://www.brandium.nl/wp-content/uploads/2023/07/arrow-br.svg"
        alt=""
        class={rotate}
        style="width:4rem;height:4rem;min-width:4rem;min-height:4rem;max-width:4rem;max-height:4rem;object-fit: cover"
      />
    </div>

    <div class={`${side} flex items-center gap-5 py-2`}>
      <h1 class="uppercase text-7xl">merch</h1>
      <img
        src="https://www.brandium.nl/wp-content/uploads/2023/07/arrow-br.svg"
        alt=""
        class={rotate}
        style="width:4rem;height:4rem;min-width:4rem;min-height:4rem;max-width:4rem;max-height:4rem;object-fit: cover"
      />
    </div>

    <div class={`${side} flex items-center gap-5 py-2`}>
      <h1 class="uppercase text-7xl">merch</h1>
      <img
        src="https://www.brandium.nl/wp-content/uploads/2023/07/arrow-br.svg"
        alt=""
        class={rotate}
        style="width:4rem;height:4rem;min-width:4rem;min-height:4rem;max-width:4rem;max-height:4rem;object-fit: cover"
      />
    </div>

    <div class={`${side} flex items-center gap-5 py-2`}>
      <h1 class="uppercase text-7xl">merch</h1>
      <img
        src="https://www.brandium.nl/wp-content/uploads/2023/07/arrow-br.svg"
        alt=""
        class={rotate}
        style="width:4rem;height:4rem;min-width:4rem;min-height:4rem;max-width:4rem;max-height:4rem;object-fit: cover"
      />
    </div>

    <div class={`${side} flex items-center gap-5 py-2`}>
      <h1 class="uppercase text-7xl">merch</h1>
      <img
        src="https://www.brandium.nl/wp-content/uploads/2023/07/arrow-br.svg"
        alt=""
        class={rotate}
        style="width:4rem;height:4rem;min-width:4rem;min-height:4rem;max-width:4rem;max-height:4rem;object-fit: cover"
      />
    </div>

    <div class={`${side} flex items-center gap-5 py-2`}>
      <h1 class="uppercase text-7xl">merch</h1>
      <img
        src="https://www.brandium.nl/wp-content/uploads/2023/07/arrow-br.svg"
        alt=""
        class={rotate}
        style="width:4rem;height:4rem;min-width:4rem;min-height:4rem;max-width:4rem;max-height:4rem;object-fit: cover"
      />
    </div>

    <div class={`${side} flex items-center gap-5 py-2`}>
      <h1 class="uppercase text-7xl">merch</h1>
      <img
        src="https://www.brandium.nl/wp-content/uploads/2023/07/arrow-br.svg"
        alt=""
        class={rotate}
        style="width:4rem;height:4rem;min-width:4rem;min-height:4rem;max-width:4rem;max-height:4rem;object-fit: cover"
      />
    </div>
  </div>
</div>

<style>
  .right {
    flex-shrink: 0;
  }
</style>

<script>
  import gsap from 'gsap'

  gsap.from('.right', {
    transform: 'translateX(-113%)',
    duration: 2,
    repeat: -1,
    ease: 'none',
  })

  gsap.to('.left', {
    transform: 'translateX(-113%)',
    duration: 2,
    repeat: -1,
    ease: 'none',
  })
</script>
